

div, p, h1 {
  font-family: Times;
  line-height: 1.5;
}

#answer-box {
  border: 2px solid pink;
}
.question-container, .answer-container {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

.question-container, .comments, .answer-container {
  padding-left: 10px;
}

#logout {
  display: inline block;
  float: right;
}

.vote-wrapper {
  padding: 5px;
}

container {
  padding: 10px;
  margin: 10px;
}

#question {
  text-decoration: underline;
  color: DarkBlue;
}

#answer-header {
  color: Purple;
}

#homepage {
  margin: 20px;
  padding: 10px;
}